In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r'C:\Users\niles\OneDrive\Desktop/final crop dataset.csv')
data

,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,commodity,min_price,...,variety_Rasakathai,variety_Ratnachudi (718 5-749),variety_Red Banana,variety_Robusta,variety_Sanna Bhatta,variety_Shanker 6 (B) 30mm FIne,variety_Simla,variety_Super Fine,variety_TD-5,variety_Yellow
0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2200,...,0,0,0,0,0,0,0,0,0,0
1,1,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2500,...,0,0,0,0,0,0,0,0,0,0
2,2,90,42,43,20.879744,82.002744,6.502985,202.935536,11,3500,...,0,0,0,0,0,0,0,0,0,0
3,3,90,42,43,20.879744,82.002744,6.502985,202.935536,11,1800,...,0,0,0,0,0,0,0,0,0,0
4,4,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2500,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31095,31095,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4250,...,0,0,0,0,0,0,0,0,1,0
31096,31096,84,38,43,26.574217,73.819949,7.261581,159.322307,5,3750,...,0,0,0,0,0,0,0,0,1,0
31097,31097,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4250,...,0,0,0,0,0,0,0,0,1,0
31098,31098,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4500,...,0,0,0,0,0,0,0,0,1,0
31099,31099,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4400,...,0,0,0,0,0,0,0,0,1,0

11->rice 6->maize 10->pomegranate 1->banana 7->mango 4->grapes 0->apple 8->orange 9->papaya 2->coconut 3->cotton 5->jute

In [3]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['soil']= label_encoder.fit_transform(data['soil'])
data['soil'].unique()

array([2, 5, 0, 6, 3, 4, 1])

2->clay, 5->loamy sand 0->alluvial volcanic 6->laterite red 3->black laterite 4->loamy sand laterite 1->clayredblack

In [4]:
data

,Unnamed: 0,N,P,K,temperature,humidity,ph,rainfall,commodity,min_price,...,variety_Rasakathai,variety_Ratnachudi (718 5-749),variety_Red Banana,variety_Robusta,variety_Sanna Bhatta,variety_Shanker 6 (B) 30mm FIne,variety_Simla,variety_Super Fine,variety_TD-5,variety_Yellow
0,0,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2200,...,0,0,0,0,0,0,0,0,0,0
1,1,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2500,...,0,0,0,0,0,0,0,0,0,0
2,2,90,42,43,20.879744,82.002744,6.502985,202.935536,11,3500,...,0,0,0,0,0,0,0,0,0,0
3,3,90,42,43,20.879744,82.002744,6.502985,202.935536,11,1800,...,0,0,0,0,0,0,0,0,0,0
4,4,90,42,43,20.879744,82.002744,6.502985,202.935536,11,2500,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31095,31095,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4250,...,0,0,0,0,0,0,0,0,1,0
31096,31096,84,38,43,26.574217,73.819949,7.261581,159.322307,5,3750,...,0,0,0,0,0,0,0,0,1,0
31097,31097,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4250,...,0,0,0,0,0,0,0,0,1,0
31098,31098,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4500,...,0,0,0,0,0,0,0,0,1,0
31099,31099,84,38,43,26.574217,73.819949,7.261581,159.322307,5,4400,...,0,0,0,0,0,0,0,0,1,0

In [5]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

In [6]:
X=data[['N', 'P', 'K', 'temperature', 'humidity', 'ph',
       'rainfall', 'min_price', 'max_price', 'modal_price',
       'soil']]
y=data[['commodity']]
from imblearn.over_sampling import SMOTE
from collections import Counter
smote = SMOTE()
X_train_os,y_train_os=smote.fit_resample(np.array(X),np.array(y))
X_train, X_test, y_train, y_test = train_test_split(X_train_os, y_train_os,test_size = 0.2, random_state = 202)
clf = LazyClassifier(verbose=0,ignore_warnings=True,custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
print(models)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29/29 [07:22<00:00, 15.25s/it]

                               Accuracy  Balanced Accuracy ROC AUC  F1 Score  \
Model
LogisticRegression                 1.00               1.00    None      1.00
GaussianNB                         1.00               1.00    None      1.00
XGBClassifier                      1.00               1.00    None      1.00
SVC                                1.00               1.00    None      1.00
RandomForestClassifier             1.00               1.00    None      1.00
QuadraticDiscriminantAnalysis      1.00               1.00    None      1.00
BaggingClassifier                  1.00               1.00    None      1.00
KNeighborsClassifier               1.00               1.00    None      1.00
LGBMClassifier                     1.00               1.00    None      1.00
ExtraTreesClassifier               1.00               1.00    None      1.00
DecisionTreeClassifier             1.00               1.00    None      1.00
SGDClassifier                      1.00               1.00    None      1.00
CalibratedClassifierCV             1.00               1.00    None      1.00
ExtraTreeClassifier                1.00               1.00    None      1.00
LinearSVC                          1.00               1.00    None      1.00
PassiveAggressiveClassifier        0.99               0.99    None      0.99
Perceptron                         0.98               0.98    None      0.98
NuSVC                              0.98               0.98    None      0.98
RidgeClassifier                    0.95               0.95    None      0.95
RidgeClassifierCV                  0.95               0.95    None      0.95
BernoulliNB                        0.94               0.94    None      0.94
NearestCentroid                    0.91               0.91    None      0.91
LinearDiscriminantAnalysis         0.58               0.58    None      0.50
AdaBoostClassifier                 0.49               0.50    None      0.35
DummyClassifier                    0.08               0.08    None      0.01

                               Time Taken
Model
LogisticRegression                   4.56
GaussianNB                           0.07
XGBClassifier                        3.63
SVC                                  3.29
RandomForestClassifier               5.33
QuadraticDiscriminantAnalysis        0.09
BaggingClassifier                    1.74
KNeighborsClassifier                 0.84
LGBMClassifier                       1.22
ExtraTreesClassifier                 2.00
DecisionTreeClassifier               0.34
SGDClassifier                        0.30
CalibratedClassifierCV               5.46
ExtraTreeClassifier                  0.06
LinearSVC                            1.28
PassiveAggressiveClassifier          0.28
Perceptron                           0.27
NuSVC                              405.70
RidgeClassifier                      0.08
RidgeClassifierCV                    0.14
BernoulliNB                          0.26
NearestCentroid                      0.07
LinearDiscriminantAnalysis           0.11
AdaBoostClassifier                   4.82
DummyClassifier                      0.04

In [ ]:
# X=data1[['N', 'P', 'K', 'temperature', 'humidity', 'ph','rainfall',
# 'min_price', 'max_price', 'modal_price']]
# y=data1[['commodity']]
# from imblearn.over_sampling import SMOTE
# from collections import Counter
# smote = SMOTE()
# X_train_os,y_train_os=smote.fit_resample(np.array(X),np.array(y))
# X_train, X_test, y_train, y_test = train_test_split(X_train_os, y_train_os,test_size = 0.2, random_state = 202)
# clf = LazyClassifier(predictions=True)
# models, predictions = clf.fit(X_train, X_test, y_train, y_test)
# print(models)

In [129]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(random_state=200,max_depth=2,n_estimators=300,min_samples_leaf=7)
rf_model.fit(X_train,y_train)
prediction_train=rf_model.predict(X_train)
prediction_test=rf_model.predict(X_test)

In [130]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train,prediction_train)

0.9738597972972973

In [131]:
accuracy_score(y_test,prediction_test)

0.9759572072072072

In [132]:
from sklearn.metrics import classification_report
print("classification report")
print(classification_report(y_train,prediction_train))

classification report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5913
           1       0.99      1.00      1.00      5918
           2       0.92      1.00      0.96      5919
           3       1.00      1.00      1.00      5903
           4       1.00      1.00      1.00      5943
           5       1.00      1.00      1.00      5928
           6       0.89      1.00      0.94      5890
           7       1.00      1.00      1.00      5975
           8       1.00      1.00      1.00      5855
           9       1.00      0.69      0.82      5961
          10       0.99      1.00      1.00      5899
          11       0.91      1.00      0.96      5936

    accuracy                           0.97     71040
   macro avg       0.98      0.97      0.97     71040
weighted avg       0.98      0.97      0.97     71040

In [133]:
from sklearn.metrics import mean_squared_error
train_mse=mean_squared_error(y_train,prediction_train)
train_mse

0.4970157657657658

In [134]:
test_mse=mean_squared_error(y_test,prediction_test)
test_mse

0.47702702702702704

In [136]:
rf_model.feature_importances_

array([0.06627896, 0.18843903, 0.15817982, 0.01439707, 0.2003947 ,
       0.00071805, 0.08185827, 0.00325562, 0.02149748, 0.01845685,
       0.24652415])

In [144]:
varimp_data=pd.DataFrame()
varimp_data['feature']=X.columns
varimp_data['importance']=rf_model.feature_importances_
varimp_data

        feature  importance
0             N        0.07
1             P        0.19
2             K        0.16
3   temperature        0.01
4      humidity        0.20
5            ph        0.00
6      rainfall        0.08
7     min_price        0.00
8     max_price        0.02
9   modal_price        0.02
10         soil        0.25

In [ ]:
import altair as alt
alt.Chart(varimp_data).mark_bar().encode(x='importance',y="feature")